* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: lightblue;
}
html,
body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
p {
  margin: 0;
}

.toolbar-btn {
  border: 1px solid #facbc9;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b2b2b2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b2b2b2;
}
